.popup-add__input {
  width: 358px;
  height: 27px;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 30px;
  padding: 0;
}

.popup-add__input:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 550px) {
  .popup-add__input {
    width: 238px;
  }
}

@media screen and (max-width: 550px) {
  .popup-add__input:last-of-type {
    margin-bottom: 45px;
  }
}

.popup-add__input:invalid {
  border-bottom: 1px solid #FF0000;
  margin-bottom: 0;
}